[submodule "Blockgeeks"]
	path = Blockgeeks
	url = https://github.com/letugade/Blockgeeks
[submodule "Institute-of-Blockchain-Singapore"]
	path = Institute-of-Blockchain-Singapore
	url = https://github.com/letugade/Institute-Blockchain-Singapore
